[[servers]]
# Ldap server host (specify multiple hosts space separated)
host = "ldap-m1.chem.wisc.edu"
# Default port is 389 or 636 if use_ssl = true
port = 389
# Set to true if ldap server supports TLS
use_ssl = false
# Set to true if connect ldap server with STARTTLS pattern (create connection in insecure, then upgrade to secure connection with TLS)
start_tls = false
# set to true if you want to skip ssl cert validation
ssl_skip_verify = false
# set to the path to your root CA certificate or leave unset to use system defaults
# root_ca_cert = "/path/to/certificate.crt"
# Authentication against LDAP servers requiring client certificates
# client_cert = "/path/to/client.crt"
# client_key = "/path/to/client.key"


# Search user bind dn
#bind_dn = "cn=admin,dc=grafana,dc=org"
# Search user bind password
# If the password contains # or ; you have to wrap it with triple quotes. Ex """#password;"""
#bind_password = 'grafana'


# User search filter, for example "(cn=%s)" or "(sAMAccountName=%s)" or "(uid=%s)"
search_filter = "(uid=%s)"


# An array of base dns to search through
search_base_dns = ["ou=people,ou=core,dc=chem,dc=wisc,dc=edu"]


## For Posix or LDAP setups that does not support member_of attribute you can define the below settings
## Please check grafana LDAP docs for examples
group_search_filter = "(&(objectClass=posixGroup)(memberUid=%s))"
#group_search_base_dns = ["ou=groups,dc=grafana,dc=org"]
group_search_filter_user_attribute = "memberUid"

[servers.attributes]
name = "givenName"
surname = "sn"
firstname = "cn"
username = "uid"
member_of = "memberUid"
email =  "mail"

[[servers.group_mappings]]
group_dn = "cn=grafana_admin,ou=Groups,ou=core,dc=chem,dc=wisc,dc=edu"
org_role = "Admin"
grafana_admin = true

[[servers.group_mappings]]
group_dn = "*"
org_role = "Editor"
